<div id="job-searcher" class="row">
	<div class="row">
		<div class="col-24-24">
			<!-- <h2>Search 1000s of Angular, Backbone and Ember jobs throughout Australia...</h2> -->
		</div>
	</div>

	<div class="row">
		<div class="col-24-24">
			<input type="text" id="search_location" data-ng-model="searchLocation">
		</div>
	</div>

	<div class="row">
		<div class="col-24-24">
			<div class="button-set">
				<div class="button gray" data-ng-click="selectJobType('angular')" data-ng-class="{ selected: jobTypeSelections.angular }">Angular</div>
				<div class="button gray" data-ng-click="selectJobType('backbone')" data-ng-class="{ selected: jobTypeSelections.backbone }">Backbone</div>
				<div class="button gray" data-ng-click="selectJobType('ember')" data-ng-class="{ selected: jobTypeSelections.ember }">Ember</div>
			</div>
		</div>
	</div>
</div>

<div class="container white_block" data-ui-view="">
</div>